body {
    background-color: #000000;
}

ul li {
    display: inline;
    margin: 30px;
}

p {
    font-family: monospace;
    font-size: 17px;
    color: #ffffff;
}

a  {
    text-decoration: none;
    color: #777777;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}