body {
  background-color: #F2F2F2;
}

p {
  font-family: monospace;
  font-size: 18px;
  font-weight: 200;
  color: #000000;
}

a  {
  text-decoration: none;
  color: #d3d3d3;
}

a:hover {
    text-decoration: none;
    color: #000000;
}