body {
    background-color: #e1e1e1;
}

ul li {
    display: inline-block;
    margin-right: 50px;
}

p {
    font-family: monospace;
    font-size: 18px;
    font-weight: 200;
    color: #000000;
}

a  {
    text-decoration: none;
    background-color: #F2F2F2;
    color: #d3d3d3;
}

a:hover {
    text-decoration: none;
    background-color: #000000;
    color: #000000;
}