body {
  background-color: #F2F2F2;
  padding: 20px;
}

p {
  font-family: monospace;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

a {
  background-color: none;
  text-decoration: none;
  color: #eeeeee;
}

a:hover {
  background-color: #222;
  color: #eeeeee;
}

a:visited {
  background-color: none;
  color: #eeeeee;
}
