body {
  background-color: black;
  padding: 20px;
}

p {
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #eee;
  
}

a {
  background-color: none;
  text-decoration: none;
  color: #111;
}

a:hover {
  background-color: #111;
  color: #black;
}

a:visited {
  background-color: none;
  color: black;
}
